{%extends 'basic.html'%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=HH2Oir9_q0KoywFb8NOFBDzOP_4yd610Y9WKtCQWteDQfn_4mI3HBTwd7JYRhiwNXQtudZVHZeVLkKMVQc1lanVckOAr4SqB1pB3dTjn0HHHwgn7dLyoJUTcwHLS-fBLEuLvyjN4G4OhEeGpX8dwmw" charset="UTF-8"></script><script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d56898a29b74069',m:'K476FA__H2TAenl9vJfs0_ubJmC0ljuxvDlZ5EgLr34-1643502056-0-AaTbrpT4Ss//lMg9Can3X5SfX3HRlL8Y2j/rD9NbwQ5ZwoFU5KdsnNFCIs8SzywwYnzxIfmIWvbn1dikygP6TLho39P7S4VziNwlVjUjenuGcRze84fRLn3IPNI284+89mntpd2cbGL+U8VsB6rl0FPJUmyNKdQ5r3c1kHwd1FO4g3FN4pyW2u1KTlVpcCugVA==',s:[0x1a954cbce3,0x650e298057],}})();</script>
{% endblock%}


{%block content%}

<div class="row p-4">
    <div style="margin: auto;background-color: #f2f2f2;border: none;">
        <h1 >
            <CENTER> Analyse du prix  </CENTER>
        </h1>
    </div>
    <div style="margin-left: 50px;margin-top: 42px">
        <h3 style="font-size: 20px;">
          Dans cette partie, nous allons voir ce qui influence le prix d'un véhicule.<br>
          Pour cela nous allons regarder :  
        </h3>
    </div>
    <div class="card mb-4 ml-auto mr-auto" style="width: 90%; margin: auto;background-color: #f2f2f2;border: none;"  data-aos = "fade-up-right" data-aos-duration = "3000">

                                            <!-- Prix moyenne en fonction des marques -->
        <div class="card-body">
            <div style = "float:left;">
                <canvas id="monGraph_prix"  width= "600" height="400"></canvas>
            </div>
            <script>
                const ctx4 = document.getElementById("monGraph_prix").getContext("2d");
    
                const data4 = {
                    labels: {{label4|safe}},
                    datasets: [
                    {
                        type: 'line',
                        data: {{valeur4|safe}},
                        label: "Marques",
                        fill: false,
                        borderColor: 'rgba(75, 192, 192)'
                    },
           
                    ],
                };
                const config4 = {
                    type: 'line',
                    data: data4,
                    options: {
                    scales: {
                        y: {
                            ticks: {
                                callback: function (value) {
                                    return value + " €";
                                }
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Prix moyen en fonction des marques',
                            font: {
                                size: 20
                            },
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        },
                        subtitle: {
                            display: true,
                            text: 'Prix',
                            position: 'left',
                            font: {
                                size: 14
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                font: {
                                    size: 14
                                }
                            }
                        },
                            
                    },
                
            aspectRatio: 3 / 2,
            cutoutPercentage: 8,
            layout: {
                padding: 16
            },
            elements: {
                line: {
                    fill: false,
                    tension: 0.4
                },
                point: {
                    hoverRadius: 7,
                    radius: 5
                }
            }, 
                }
            };
            const monGraph_prix = new Chart(ctx4, config4);
        </script>
                                                        <!-- Prix moyenne en fonction de l'energie -->
    
        <div style = "float:right;">
            <canvas id="monGraph_prix3"  width= "600" height="400"></canvas>
        </div>
        <script>
            const ctx6 = document.getElementById("monGraph_prix3").getContext("2d");
            const data6 = {
                labels: {{label6|safe}}, 
            datasets: [
                {
                data: {{valeur6|safe}},
                label: "Les différents types de carburant",
                backgroundColor: [ 
                    'rgba(35, 182, 145, 0.3)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 158, 52, 0.5)'
                ],
                },
           
            ],
            };
    
            const config6 = {
              type: 'pie',
              data: data6,
              options: {
                  plugins: {
                      title: {
                          display: true,
                          text: 'Prix moyen en fonction des différents types de carburant',
                          font: {
                              size: 20
                          },
                          padding: {
                              top: 10,
                              bottom: 30
                          }
                      },
                      legend: {
                          display: true,
                          position: 'bottom',
                          labels: {

                              font: {
                                  size: 14
                              }
                          }
                      },
                      
                  },
              
            aspectRatio: 3 / 2,
            cutoutPercentage: 8,
            layout: {
                padding: 16
            },
            elements: {
                line: {
                    fill: false,
                    tension: 0.4
                },
                point: {
                    hoverRadius: 7,
                    radius: 5
                }
            },    
                  
              }
            };
        const monGraph_prix3 = new Chart(ctx6, config6);
        </script>
        </div>
                                                        <!-- Prix moyenne en fonction du puissance fiscale -->
        <div class="card-body">
            <div style = "float:right;width: 661px;margin: 10px;">
                <canvas id="monGraph_prix2"  width= "600" height="400"></canvas>
            </div>
            <script>
                const ctx5 = document.getElementById("monGraph_prix2").getContext("2d");
    
                function getRandomColor(n) {
                        var letters = '0123456789ABCDEF'.split('');
                        var color = '#';
                        var colors = [];
                        for(var j = 0; j < n; j++){
                            for (var i = 0; i < 6; i++ ) {
                                color += letters[Math.floor(Math.random() * 16)];
                             }
                            colors.push(color);
                            color = '#';
                        }
                         return colors;
                    }
    
                const data5 = {
                    labels: {{label5|safe}},
                    datasets: [
                        {
                            type: 'line',
                            data: {{valeur5|safe}},
                            label: "Puissance fiscale (en ch)",
                            backgroundColor: getRandomColor({{valeur5|safe}}.length),
                            fill: false,
                            borderColor: 'rgba(201, 203, 207, 0.2)'
                        },
           
                    ],
                };
            
                const config5 = {
                    type: 'line',
                    data: data5,
                    options: {
                        
                        scales: {
                            y: {
                                ticks: {
                                    callback: function (value) {
                                        return value + " €";
                                    }
                                }
                            },
    
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Prix moyen en fonction de la puissance fiscale',
                                font: {
                                    size: 20
                                },
                                padding: {
                                    top: 10,
                                    bottom: 30
                                }
                            },
                            subtitle: {
                                display: true,
                                text: 'Prix',
                                position: 'left',
                                font: {
                                    size: 14
                                }
                            },
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    font: {
                                        size: 14
                                    }
                                }
                            },
                            
                        },
    
                    }
                };
                const monGraph_prix2 = new Chart(ctx5, config5);
            </script>
                                            <!-- Prix moyenne en fonction du type de boite de vitesse -->
        <div style = "float:left;width: 440px;margin-left: 79px;margin-top: 7px;">
            <canvas id="monGraph_prix4"  width= "600" height="400"></canvas>
        </div>
        <script>
            const ctx7 = document.getElementById("monGraph_prix4").getContext("2d");
            const data7 = {
                labels: {{label7|safe}}, 
                datasets: [
                {
                    data: {{valeur7|safe}},
                    label: "Différents types de carburant",
                    backgroundColor: [ 
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    ],
                },
   
                ],
            };
            const config7 = {
                type: 'doughnut',
                data: data7,
                options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Prix moyen en fonction de la boite de vitesse',
                                font: {
                                    size: 20
                                },
                                padding: {
                                    top: 10,
                                    bottom: 30
                                }
                            },
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    font: {
                                        size: 14
                                    }
                                }
                            },
                            
                        },
                        
                    },
                    aspectRatio: 3 / 2,
                    cutoutPercentage: 8,
                    layout: {
                        padding: 12
                    },
                    elements: {
                        line: {
                            fill: false,
                            tension: 0.4
                        },
                        point: {
                            hoverRadius: 7,
                            radius: 5
                        }
                    },     

            };
            const monGraph_prix4 = new Chart(ctx7, config7);
        </script>
        </div>
                                            <!-- Prix moyenne en fonction des années de mise en circulation  -->
        <div class="card-body">
            <div style ='width: 750px;margin: auto;' >
                <canvas id="monGraph_prix5"  width= "600" height="400"></canvas>
            </div>
            <script>
                const ctx8 = document.getElementById("monGraph_prix5").getContext("2d");
    
                function getRandomColor(n) {
                        var letters = '0123456789ABCDEF'.split('');
                        var color = '#';
                        var colors = [];
                        for(var j = 0; j < n; j++){
                            for (var i = 0; i < 6; i++ ) {
                                color += letters[Math.floor(Math.random() * 16)];
                             }
                            colors.push(color);
                            color = '#';
                        }
                         return colors;
                    }
    
                const data8 = {
                    labels: {{label8|safe}},
                    datasets: [
                        {
                            type: 'bar',
                            data: {{valeur8|safe}},
                            label: "Prix moyen",
                            backgroundColor: getRandomColor({{valeur8|safe}}.length),
                            fill: false,
                            borderColor: 'rgba(201, 203, 207, 0.2)'
                        },
           
                    ],
                };
                const config8 = {
                    type: 'line',
                    data: data8,
                    options: {
                    scales: {
                        y: {
                            ticks: {
                                callback: function (value) {
                                    return value + " €";
                                }
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Prix moyen en fonction des marques',
                            font: {
                                size: 20
                            },
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        },
                        subtitle: {
                            display: true,
                            text: 'Prix',
                            position: 'left',
                            font: {
                                size: 14
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                font: {
                                    size: 14
                                }
                            }
                        },
                            
                    }, 
                },
                aspectRatio: 3 / 2,
                cutoutPercentage: 8,
                layout: {
                    padding: 11
                },
                elements: {
                    line: {
                        fill: false,
                        tension: 0.4
                    },
                    point: {
                        hoverRadius: 7,
                        radius: 5
                    }
                }, 

            };
                const monGraph_prix5 = new Chart(ctx8, config8);
            </script>
        </div>
                                            <!-- Prix moyenne en fonction du kilometrage  -->
      
    <div class="card-body">
        <div id = "pandas1"></div>
    </div>

    </div>
    <div style="margin-left: 50px;margin-top: 42px">
        <h3 style="font-size: 20px;">
            On observe que la marque, la boite de vitesse, le nombre de chevaux et le kilométrage d'un véhicule influence beaucoup sur le prix du véhicule.
            On observe que en moyenne les voiture automatique coute plus chere que les manuelles, que plus on a de chevaux plus le prix de la voiture augmente,
            et à l'inverse moins il a de kilometrage plus la voiture sera chère.       
        </h3>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var graph = {{ graphJSON | safe }};
    Plotly.plot("pandas1", graph, {})
</script>
{% endblock %}







