{%extends 'basic.html'%}
{%block title%}{% endblock %}



{%block content%}


<div class="background">
    <span><img src="/static/cardrip.png" alt="voiture" style="width: 100%; height: auto; margin-bottom: 10px;" /></span>
</div>



    
<div class="row">
    {% for val in liste %}
    
    <div class="card" style="width: 18rem; margin-right: 10px; margin-bottom: 10px;">
        <img class="card-img-top" src={{val[16][0]}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{val[1]}}</h5>
          <br />
          <p class="info">  
              Marque : {{val[2]}} <br />
              Modele : {{val[4]}} <br />
              Mise en circulation : {{val[6]}} <br />
              Kilométrage : {{val[8]}} km <br />
              Énergie : {{val[9]}} <br />
              Boîte de vitesse : {{val[11]}} <br />
              Puissance fiscale : {{val[13]}} ch <br />
              Emission de CO2 : {{val[14]}} g/km <br />
          </p>
         
          <p>{{val[15]}} €</p>
    
        </div>
      </div>
    
     {% endfor %}
    </div>
    